<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xxxx事业部</title>
    <script type="text/javascript">
function checkresult(i)
{
 
  
    alert(i+"执行完毕");

}
</script>
</head>
<br>
<div align="center">
<h2>脚本执行器验证码</h2>

<form  method="POST">

        <input type="text" name="checkcode" placeholder="四位验证码">
    
        <br>
        <input type="submit"  value="确定" onclick="checkresult(u)">
        <input type="reset" value="重置">
 
    </form>
<br>
页面没报错，验证码被清空 为执行成功
</div>

</body>
</html>